.geral{
    background-color:#5cb85c;
    text-align: center;   
    padding: 1em;
}

.logo{
    width: 125px;
    background-color: #5cb85c;
    
}

.T1{
    color: black;
}

.T2{
    color: black;
}